 body{background: #3D6075;
font-family: Georgia, 'Times New Roman', Times, serif;
color:333;
font-size: 1rem;
line-height: 1em;
margin: o;
width: 100%
;

}
.logonav{display: flex;
justify-content:space-between;
align-items: center;
background: #262A2D;
position: fixed;
left: 0;
top: 0;
right: 0;
flex-wrap: wrap;
}

#navbar  img {
 
    border-radius: 50%;
  }
.logonav a{text-decoration: none;
color: #C3DBE3;}

.logonav ul{
    margin: 0;
    padding: 0;
    align-items: center;
    list-style: none;}

.logonav ul li  {display: inline-block;
      }

      .logonav ul li a:hover {
        background: #354356;
        border-radius: 5px;
      }

.logonav ul li a {display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
      }
#logonav {
        margin-left: 5%;
        margin-right: 1%;
        padding-right: 28%;}

p{margin-bottom: 1.6em;}

.contenedor{width: 95%;
max-width: 850px;
margin: 0 auto;
}

h1{font-size: 2rem;
line-height: 1.3em;}

footer{background: #262A2D;
padding: 4rem 0;
text-align: center;
margin-top: 6rem;}

.main{padding: 4rem;}

.menu-icono{display:none}


#Hero {
    background: #333 url("back.jpg") no-repeat center center/cover;
  margin-left:0%;
  margin-right: 0%;
  margin-top: -37px;
    color: #B4C8BB;
    
    }

  .ImagenPerfil{
    float: none;
    border-radius: 13%;
    width: 226px;
    height: 226px;
    box-shadow: 0 0 15px
    #ddd;
    background:
    #fff;
    /*display: block;
    position: relative;*/
    margin-top: 1%}

 #botonnas{text-align: center;}   

.BotonLeerMas{display: inline-block;
        color:
        #fff;
        background:
        #354356;
        padding: 0.5rem 2rem;
        border: none;
        border-radius: 5px;}

aside{float: left;
width: 25%;
border: 1px solid #262A2D;
line-height: 1em;
background: #C3DBE3;
          }

h2 { font-size: 20px; 
            margin: 0 0 6px 0; 
            position: relative;
            text-decoration: underline DARKSLATEGRAY }
.cuerpo{border: 1px solid
#262A2D;
padding-left: 1%;
margin-left: 25%;
padding-right: 4%;position: relative;
}
#photo{
    text-align: center;
    
  }

  .ImagenPerfil:hover{
    height: 50vh;
    width: auto;
  }
  

  .name {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    text-shadow: 2px 0 0 black, 
    -2px 0 0 black, 
    0 2px 0 black, 
    0 -2px 0 black, 
    1px 1px black, 
    -1px -1px 0 black,
     1px -1px 0 black, 
     -1px 1px 0 black;
    color: 
    #354356;
}.nombre p{text-shadow: 2px 0 0 #262A2D, 
  -2px 0 0 #262A2D, 
  0 2px 0 #262A2D, 
  0 -2px 0 #262A2D, 
  1px 1px #262A2D, 
  -1px -1px 0 #262A2D,
   1px -1px 0 #262A2D, 
   -1px 1px 0 #262A2D;
  
font-size: 1.5rem;

margin-bottom: 2rem;}
.contenedor .nombre{ text-align: center;

}

h3 span { position: relative;
  bottom: 0%;
  right: -3%;
  font-style: italic;
  font-family: Times New Roman, Serif;
  font-size: 14px;
  color:
  rgb(3, 20, 36);
    }
/*
@media only screen and (max-width: 767px){
    .logonav{width: 100%;
        margin-top: 1rem;
        cursor: pointer;
        }
        
        .menu-icono{display:block;
        }
        
        #navbar  img {
            border-radius: 50%;
          }
        .logonav a{text-decoration: none;
        color: #C3DBE3;}
        
        
        
        .logonav ul li  {display: block;
              }
        
              .logonav ul li a:hover {
                background: #354356;
                border-radius: 5px;
              }
        
        .logonav ul li a {display: block;
            padding: 0.5rem 0rem;
            transition: all 0.4s linear;
            border-radius: 5px;
              }

}*/